= provide(:title, (t 'title.help'))
.panel.panel-default
  .panel-heading
    %h3.panel-title ヘルプ
  .panel-body
    %div{:style => "width:1500px;height:auto;position:relative;"}
  %table{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-left:10px;", :width => "1100"}
    %tr
      %td
        %h3#one ログイン画面
        %h3#two タイムライン画面
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;そのボタンをクリックして
        %h3#three ログアウト
        %h3#four プロファイル変更
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;イメージを変更する
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;勤務管理システム
        %h3#five データをエクスポート画面
        %h3#six 管理G画面
        %h3#sixone 勤怠画面
        %h3#sixtwo 勤怠検索画面
        %h3#sixthree 経費画面
        %h3#sixfour 勤怠検索画面
        %h3#seven 名前をクリックする
        %h3#sevenone 結果はプロファイル変更画面
        %h3#eight 勤務管理システムをクリックする
        %h3#eightone 勤務管理システ画面
        %h3#eighttwo カレンダ画面
        %h3#eightthree 新規エベント
        %h3#eightfour 経費承認一覧画面　（管理の確認
        %h3#eightfive 伝言一覧
        %h3#eightsix 新規　（新しい伝言を作る
        %h3#nine マスタ管理
        %h3#ten 勤怠画面
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;タイムライン画面で勤務ボタンをクリックする
        %br
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;結果は勤怠画面
        %br
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;このテキストフィルドをクリックして、日を選らぶ。
        %br
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;勤怠検索ボタンをクリックする。
        %br
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;これは結果。
        %br
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;編集ボタンをクリックする。
        %h3#eleven 経費画面
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;タイムライン画面で経費ボタンをクリックする 結果は経費画面
        %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;結果は経費画面
        %h3#twelve 承認画面
        %h3#thirteen 回覧画面
        %h3#thirteenone 新規
        %h3#thirteentwo 送回覧
  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "300"}
    %tr
      %td
        %a{:href => "#one"} 1.ログイン画面
        %br/
        %a{:href => "#two"} タイムライン画面
        %br/
        %a{:href => "#three"} そのボタンをクリックして
        %br/
        %a{:href => "#four"} ログアウト
        %br/
        %a{:href => "#five"} プロファイル変更
        %br/
        %a{:href => "#six"} 管理G画面
        %br/
        %a{:href => "#sixone"} 勤怠画面
        %br/
        %a{:href => "#sixtwo"} 勤怠検索画面
        %br/
        %a{:href => "#sixthree"} 経費画面
        %br/
        %a{:href => "#sixfour"} 勤怠検索画面
        %br/
        %a{:href => "#seven"} 名前をクリックする
        %br/
        %a{:href => "#sevenone"} 結果はプロファイル変更画面
        %br/
        %a{:href => "#eight"} 勤務管理システムをクリックする
        %br/
        %a{:href => "#eightone"} 勤務管理システ画面
        %br/
        %a{:href => "#eighttwo"} カレンダ画面
        %br/
        %a{:href => "#eightthree"} 新規エベント
        %br/
        %a{:href => "#eightfour"} 経費承認一覧画面　（管理の確認
        %br/
        %a{:href => "#eightfive"} 伝言一覧
        %br/
        %a{:href => "#eightsix"} 新規　（新しい伝言を作る
        %br/
        %a{:href => "#nine"} マスタ管理
        %br/
        %a{:href => "#ten"} 勤怠画面
        %br/
        %a{:href => "#eleven"} 経費画面
        %br/
        %a{:href => "#twelve"} 承認画面
        %br/
        %a{:href => "#thirteen"} 回覧画面
        %br/
        %a{:href => "#thirteenone"} 新規
        %br/
        %a{:href => "#thirteentwo"} 送回覧
        %br/